<!-- <!DOCTYPE html> 
<html> 
<title>Book Your Dream Ride</title> 
<body> 
	<h3>Welcome to Payment Gateway</h3> 
	<form action="payment" method="POST"> 
	<script
		src="//checkout.stripe.com/v2/checkout.js"
		class="stripe-button"
		data-key="pk_test_51Mq8vQSIegHdIc97QAIMGPnaoeQHWDOJ93BOCVlBATrpCSJz8kuW62wEb12uk1RWKUxYmVuP6CHnm8llXbCq4MGL00ceVJOPI5" 
		data-amount="7000" 
		data-currency="inr" 
		data-name="Uber Lite" 
		data-description="Please pay for your ride" 
		data-locale="auto" > 
		</script> 
	</form> 
</body> 
</html> 



 -->